.morning {
  background-image: url("./../images/morning.jpg");
  background-size: cover;
}

.day {
  background-image: url("./../images/day.jpg");
  background-size: cover;
}

.evening {
  background-image: url("./../images/evening.jpeg");
  background-size: cover;
}

#myDaily {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 3px 3px 0 yellow;
}

#currentTime {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 1px 1px 0 yellow;
}

.lined {
  background-image: url("./../images/paperTypes/lined.png");
  background-size: cover;
}

.kindergarten {
  background-image: url("./../images/paperTypes/kinderten.jpg");
  background-size: cover;
}

textarea {
  resize: none;
}

.row {
  margin: 2px;
}

.time {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
}

.timeMorning {
  background-color: #f6b613;
}

.timeDay {
  background-color: #3186b3;
}

.timeEvening {
  background-color: #e59447;
}

.saveBtn {
  border-radius: 10px;
}

.saveBtnMorning {
  background-color: #8eaff4;
}

.saveBtnDay {
  background-color: #73c2e0;
}

.saveBtnEvening {
  background-color: #da7923;
}

.past {
  background-color: #f87575;
}

.present {
  background-color: yellow;
}

.future {
  background-color: #86ee86;
}
