textarea {
  resize: none;
}

.row {
  margin: 2px;
}

.time {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.saveBtn {
  background-color: aqua;
}
