.morning {
  background-image: url("./../images/morning.jpg");
  background-size: cover;
}

.day {
  background-image: url("./../images/day.jpg");
  background-size: cover;
}

.evening {
  background-image: url("./../images/evening.jpeg");
  background-size: cover;
}

#myDaily {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 3px 3px 0 yellow;
}

#currentTime {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 1px 1px 0 yellow;
}

.lined {
  background-image: url("./../images/paperTypes/lined.png");
  background-size: cover;
}

.kindergarten {
  background-image: url("./../images/paperTypes/kinderten.jpg");
  background-size: cover;
}

textarea {
  resize: none;
}

.row {
  margin: 2px;
}

.time {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: aqua;
}

.saveBtn {
  background-color: aqua;
  border-radius: 10px;
}

.past {
  background-color: red;
}

.present {
  background-color: yellow;
}

.future {
  background-color: green;
}
